[
    {
        "resource": "Wolfpack60",
        "resource_type": "HPC",
        "name": "Wolfpack 6.0 (2012 - 2016)"
    },
    {
        "resource": "Wolfpack62",
        "resource_type": "HPC",
        "name": "Wolfpack 6.2 (2016 - 2020)"
    },
    {
        "resource": "Wolfpack70",
        "resource_type": "HPC",
        "name": "Wolfpack 7.0 (2019 - current)"
    },
    {
        "resource": "Brenner70",
        "resource_type": "HPC",
        "name": "Brenner Cluster (2020 - current)"
    },
    {
        "resource": "Grandline62",
        "resource_type": "HPC",
        "name": "Grandline 6.2(Dev Cluster)"
    },
    {
        "resource": "Grandline70",
        "resource_type": "HPC",
        "name": "Grandline 7.0 (Dev Cluster)"
    }
]
