[
    {
        "resource": "Wolfpack60",
        "processors": 1344,
        "nodes": 21,
        "ppn": 64
    },
    {
        "resource": "Wolfpack62",
        "processors": 2048,
        "nodes": 32,
        "ppn": 64
    },
    {
        "resource": "Wolfpack70",
        "processors": 2048,
        "nodes": 32,
        "ppn": 64
    },
    {
        "resource": "Brenner70",
        "processors": 2640,
        "nodes": 34,
        "ppn": 77
    },
    {
        "resource": "Grandline62",
        "processors": 240,
        "nodes": 3,
        "ppn": 80
    },
    {
        "resource": "Grandline70",
        "processors": 208,
        "nodes": 2,
        "ppn": 104
    }
]
